@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto&display=swap');
@import "tailwindcss";
@tailwind utilities;

.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-bluedark {
  color: #2f2e41;
}